<div class="example-input">
  <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
    <input type="text"
    [(ngModel)]="url"
    nz-input placeholder="輸入要爬取的ITHome新聞網址 (Example:https://www.ithome.com.tw/news/133347)" />
  </nz-input-group>
  <ng-template #suffixButton>
    <button nz-button nzType="primary" nzSize="large" nzSearch (click)="onClick()">爬取網頁資料</button>
  </ng-template>
</div>


<nz-table #basicTable [nzData]="dataSet">
  <thead>
    <tr>
        <th></th>

      <th nzShowSort>title</th>
      <th nzShowSort>description</th>

      <th nzShowSort>createTime</th>
      <th nzShowSort>systemInsertTime</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
        <td>
            <a [href]='data.url' target="_blank">Link</a>
          </td>
      <td>{{data.title}}</td>
      <td>{{data.description}}</td>
      <td>{{data.createTime}}</td>
      <td>{{data.systemInsertTime}}</td>

    </tr>
  </tbody>
</nz-table>
